:root {
  /* RGB Values for opacity support */
  color-scheme: light;
  --c-ink-black: 248 244 232;
  --c-ink-gray: 238 231 214;
  --c-wuxia-gold: 113 63 18;
  --c-wuxia-gold-dark: 92 45 10;
  --c-wuxia-cyan: 8 112 128;
  --c-wuxia-red: 185 28 28;
  --c-paper-white: 31 41 55;
}
